{{ form_start(form, {'attr': {'id': 'form-editar-usuario'},'action': path('editar_usuario', { 'id': id })}) }}
        {{ form_row(form.email, {'label': 'E-Mail'}) }}
        {{ form_row(form.roles, {'label': 'Roles'}) }}
        {{ form_row(form.password, {'label': 'Password'}) }}
        {{ form_row(form.nombre, {'label': 'Nombre'}) }}
        {{ form_row(form.apellido, {'label': 'Apellido'}) }} 
    <button type="submit"class:"button">Guardar</button>
{{ form_end(form) }}       
        
