{% extends 'base.html.twig' %}

{% block title %}Asignatura index{% endblock %}

{% block body %}
    <h1>Listado de Asignaturas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Año</th>
                <th>Módulos</th>
                <th>Duración</th>
                <th>Programa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for asignatura in asignaturas %}
            <tr>
                <td>{{ asignatura.id }}</td>
                <td>{{ asignatura.nombre }}</td>
                <td>{{ asignatura.anio }}</td>
                <td>{{ asignatura.cant_mod }}</td>
                <td>{{ asignatura.duracion }}</td>
                <td>{{ asignatura.programa }}</td>
                <td>
                    <a href="{{ path('app_asignatura_show', {'id': asignatura.id}) }}">Mostrar</a>
                    <a href="{{ path('app_asignatura_edit', {'id': asignatura.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"> No se encontraron registros </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_asignatura_new') }}"> Crear Nueva Asignatura </a>
{% endblock %}
