{% extends 'base.html.twig' %}

{% block title %}Asignatura index{% endblock %}

{% block body %}
    <h1>Asignatura index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Anio</th>
                <th>Modulos</th>
                <th>Duracion</th>
                <th>Programa</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asignatura in asignaturas %}
            <tr>
                <td>{{ asignatura.id }}</td>
                <td>{{ asignatura.nombre }}</td>
                <td>{{ asignatura.anio }}</td>
                <td>{{ asignatura.cant_mod }}</td>
                <td>{{ asignatura.duracion }}</td>
                <td>{{ asignatura.programa }}</td>
                <td>
                    <a href="{{ path('app_asignatura_show', {'id': asignatura.id}) }}">show</a>
                    <a href="{{ path('app_asignatura_edit', {'id': asignatura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_asignatura_new') }}">Create new</a>
{% endblock %}
