{% extends 'base.html.twig' %}

{% block title %}Titulo index{% endblock %}

{% block body %}
    <h1>Listado de Títulos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Institución</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for titulo in titulos %}
            <tr>
                <td>{{ titulo.id }}</td>
                <td>{{ titulo.descripcion }}</td>
                <td>{{ titulo.institucion }}</td>
                <td>
                    <a href="{{ path('app_titulo_show', {'id': titulo.id}) }}">Mostrar</a>
                    <a href="{{ path('app_titulo_edit', {'id': titulo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_titulo_new') }}">Agregar Nuevo Título</a>
{% endblock %}
