{{ form_start(form, {
    'attr': {'id': 'form-crea-cursada'},
    'action': path('crear_cursada', { 'tecnicatura_id': tecId, 'comision_id': comId })
}) }}
        {{ form_row(form.condicion) }}
        {{ form_row(form.alumno) }}
        {{ form_row(form.modalidad) }}
        {{ form_row(form.nota_id) }}
        {{ form_row(form.curso) }} 
    <button type="submit"class:"button">Guardar</button>
{{ form_end(form) }}


