{{ form_start(form, {'attr': {'id': 'form-crea-carreras', 'action': path('crear_carreras' )}}) }}
    {{ form_row(form.estudiante_id) }} 
    {{ form_row(form.tecnicatura_id) }} 
    {{ form_row(form.estado) }} 
    {{ form_row(form.inicio) }}
    {{ form_row(form.fin) }} 
    <button type="submit">Guardar</button>
{{ form_end(form) }}
