{{ form_start(form, {'attr': {'id': 'form-edit-alumno', 'action': path('editar_alumno', {'alumnoid': alumnoId, 'id': alumno.id})}}) }}
        {{ form_row(form.titulo_sec, {'label': 'Título Secundaria'}) }}
        {{ form_row(form.escuela_sec, {'label': 'Escuela Secundaria'}) }}
        {{ form_row(form.anio_egreso, {'label': 'Año de Egreso'}) }}
        {{ form_row(form.persona, {'label': 'Persona'}) }}
    <button type="submit" id="guarda-modal-edit"class:"button">Guardar</button>
{{ form_end(form) }}  