{% extends 'base.html.twig' %}

{% block title %}Carreras index{% endblock %}

{% block body %}
    <h1>Carreras index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carrera in carreras %}
            <tr>
                <td>{{ carrera.id }}</td>
                <td>{{ carrera.estado ? 'Yes' : 'No' }}</td>
                <td>{{ carrera.inicio ? carrera.inicio|date('Y-m-d') : '' }}</td>
                <td>{{ carrera.fin ? carrera.fin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_carreras_show', {'id': carrera.id}) }}">show</a>
                    <a href="{{ path('app_carreras_edit', {'id': carrera.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_carreras_new') }}">Create new</a>
{% endblock %}
