{% extends 'base.html.twig' %}

{% block title %}Carreras{% endblock %}

{% block body %}
    <h1>Mostrando Carreras</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ carrera.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ carrera.estado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fecha de Inicio</th>
                <td>{{ carrera.inicio ? carrera.inicio|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de Finalización</th>
                <td>{{ carrera.fin ? carrera.fin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carreras_index') }}">Regresar</a>

    <a href="{{ path('app_carreras_edit', {'id': carrera.id}) }}">Editar</a>

    {{ include('carreras/_delete_form.html.twig') }}
{% endblock %}
