
{{ form_start(form, {
    'attr': {'id': 'form-crea-cursadadocente'},
    'action': path('crear_cursada_docente', { 'curso_id': cursoId })
}) }}

        {{ form_row(form.toma, {'label': 'Fecha de Toma'})}}
        {{ form_row(form.cese, {'label': 'Fecha de Cese'})}}
        {{ form_row(form.docente, {'label': 'Docente'})}}
        {{ form_row(form.revista, {'label': 'Situación de Revista'})}}
        {{ form_row(form.licencia, {'label': 'Licencia'})}}
        {{ form_row(form.curso, {'label': 'Curso'})}}
    <button type="submit"class="button">Guardar</button>
{{ form_end(form) }}
 
