
{{ form_start(form, {
    'attr': {'id': 'form-crea-curso'},
    'action': path('crear_curso', { 'tecnicatura_id': tecId, 'comision_id': comId })
}) }}

        {{ form_row(form.CUPOF, {'label': 'CUPOF'})}}
        {{ form_row(form.asignatura, {'label': 'Asignatura'})}}
        {{ form_row(form.comision, {'label': 'Comisión'})}}
    <button type="submit"class="button">Guardar</button>
{{ form_end(form) }}

