{% extends 'base.html.twig' %}

{% block title %}Cursada index{% endblock %}

{% block body %}
    <h1>Cursada index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Condicion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cursada in cursadas %}
            <tr>
                <td>{{ cursada.id }}</td>
                <td>{{ cursada.condicion}}</td>
                <td>
                    <a href="{{ path('app_cursada_show', {'id': cursada.id}) }}">show</a>
                    <a href="{{ path('app_cursada_edit', {'id': cursada.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cursada_new') }}">Create new</a>
{% endblock %}
