{% extends 'base.html.twig' %}

{% block title %}Cursada index{% endblock %}

{% block body %}
    <h1>Listado de Cursadas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Condición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cursada in cursadas %}
            <tr>
                <td>{{ cursada.id }}</td>
                <td>{{ cursada.condicion}}</td>
                <td>
                    <a href="{{ path('app_cursada_show', {'id': cursada.id}) }}">Mostrar</a>
                    <a href="{{ path('app_cursada_edit', {'id': cursada.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cursada_new') }}">Crear Nueva Cursada</a>
{% endblock %}
