{{ form_start(form, {'attr': {'id': 'form-crea-asistencia'}, 'action': path('nuevas_asistencias', { 'curso_id': cursoId2 }) }) }}
        {{ form_row(form.fecha) }}
        {{ form_row(form.asistencia) }}
        {{ form_row(form.observacion) }}
        {{ form_row(form.cursada) }}
    <button type="submit">Guardar</button>
{{ form_end(form) }}