{{ form_start(form, {'attr': {'id': 'form-editar-asistencia'}, 'action': path('editar_asistencias', { 'curso_id': cursoId2,  'id': asistencium.id}) }) }}
        {{ form_row(form.fecha, {'label': 'Fecha'}) }}
        {{ form_row(form.asistencia, {'label': 'Asistencia'}) }}
        {{ form_row(form.observacion, {'label': 'Observación'}) }}
        {{ form_row(form.cursada, {'label': 'Cursada'}) }}
    <button type="submit"class:"button">Guardar</button>
{{ form_end(form) }}    