{% extends 'base.html.twig' %}

{% block title %}Asistencia index{% endblock %}

{% block body %}
    <h1>Asistencia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Asistencia</th>
                <th>Observacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asistencium in asistencias %}
            <tr>
                <td>{{ asistencium.id }}</td>
                <td>{{ asistencium.fecha ? asistencium.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ asistencium.asistencia }}</td>
                <td>{{ asistencium.observacion }}</td>
                <td>
                    <a href="{{ path('app_asistencia_show', {'id': asistencium.id}) }}">show</a>
                    <a href="{{ path('app_asistencia_edit', {'id': asistencium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_asistencia_new') }}">Create new</a>
{% endblock %}
