{% extends 'base.html.twig' %}

{% block title %}Asistencia{% endblock %}

{% block body %}
    <h1>Asistencia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asistencium.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ asistencium.fecha ? asistencium.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Asistencia</th>
                <td>{{ asistencium.asistencia }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ asistencium.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_asistencia_index') }}">back to list</a>

    <a href="{{ path('app_asistencia_edit', {'id': asistencium.id}) }}">edit</a>

    {{ include('asistencia/_delete_form.html.twig') }}
{% endblock %}
