{% extends 'base.html.twig' %}

{% block title %}Docente{% endblock %}

{% block body %}
    <h1>Mostrando Docentes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>    </td>
            </tr>
        
            <tr>
                <th>Apellido</th>
                <td>    </td>
            </tr>
        

            <tr>
                <th>ID</th>
                <td>{{ docente.id }}</td>
            </tr>
            
            <tr>
                <th>Foja</th>
                <td>{{ docente.foja }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_docente_index') }}">back to list</a>

    <a href="{{ path('app_docente_edit', {'id': docente.id}) }}">edit</a>

    {{ include('docente/_delete_form.html.twig') }}
{% endblock %}
