{% extends 'base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}
    <h1>Listado de Cursos</h1>
{#
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Horario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.horario }}</td>
                <td>
                    <a href="{{ path('app_curso_show', {'id': curso.id}) }}">Mostrar</a>
                    <a href="{{ path('app_curso_edit', {'id': curso.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ciclo Lectivo</th>
            <th>Horario</th>
            <th>Asignatura</th>
            <th>Comisión</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for curso in cursos %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.cicloLectivo }}</td>
            <td>{{ curso.horario }}</td>
            <td>{{ curso.getAsignatura.nombre }}</td>
            <td>{{ curso.getComision.comision }}</td>
            <td>
                <a href="{{ path('app_curso_show', {'id': curso.id}) }}">Mostrar</a>
                <a href="{{ path('app_curso_edit', {'id': curso.id}) }}">Editar</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No se encontraron registros</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


    <a href="{{ path('app_curso_new') }}">Crear Nuevo Curso</a>
{% endblock %}
