{% extends 'base.html.twig' %}

{% block title %}InscripcionFinal index{% endblock %}

{% block body %}
    <h1>InscripcionFinal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion_final in inscripcion_finals %}
            <tr>
                <td>{{ inscripcion_final.id }}</td>
                <td>{{ inscripcion_final.fecha ? inscripcion_final.fecha|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_inscripcion_final_show', {'id': inscripcion_final.id}) }}">show</a>
                    <a href="{{ path('app_inscripcion_final_edit', {'id': inscripcion_final.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inscripcion_final_new') }}">Create new</a>
{% endblock %}
